<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body style="text-align: center; margin: auto 0;">
        <img src="./static/images/online.svg">
        <h1>Online</h1>
        <p>Nice, I'm is online.</p>
        <script src="/static/js/bootstrap.js"></script>
    </body>
</html>
